.DS_Store
Podfile.lock
Pods/
.idea/
MoviesApp.xcodeproj/xcuserdata/MiguelMoldes.xcuserdatad/xcschemes/MoviesAppTests.xcscheme
MoviesApp.xcodeproj/xcuserdata/MiguelMoldes.xcuserdatad/xcschemes/xcschememanagement.plist
MoviesApp.xcworkspace/xcuserdata/MiguelMoldes.xcuserdatad/UserInterfaceState.xcuserstate
MoviesApp.xcworkspace/xcuserdata/MiguelMoldes.xcuserdatad/xcdebugger/
